<tr class="subscription">
  <td>
    {{@subscription.email}}
  </td>
  <td class={{unless @subscription.geocoded "geocoding-failed"}}>
    {{@subscription.location}}
  </td>
  <td class={{unless @subscription.start "indefinite"}}>
    {{this.formattedStart}}
  </td>
  <td>
    {{this.formattedEnd}}
  </td>
  <td>
    {{@subscription.units}}
  </td>
  <td>
    <LinkTo @route="subscriptions.edit" @model={{@subscription}}>
      Edit
    </LinkTo>
  </td>
</tr>
