<form {{on "submit" this.updateSubscription}}>
  <div class="grid-x">
    <div class="cell">
      <label>
        Location to send the forecast for:
        {{input type="text" name="location" id="location" value=this.location}}
      </label>
    </div>
  </div>

  <div class="grid-x">
    <div class="cell">
      <label>
        Email to receive forecast:
        {{input type="text" name="email" id="email" value=this.email}}
      </label>
    </div>
  </div>

  <div class="grid-x">
    <div class="cell">
      <label>
        Units:
        <XSelect
            @onChange={{action (mut this.units)}}
            @name="units"
            @value={{this.units}}
          as |xs|
        >
          <xs.option @value="si">SI</xs.option>
          <xs.option @value="us">US</xs.option>
          <xs.option @value="auto">Automatic</xs.option>
        </XSelect>
      </label>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="large-6 cell">
      <label>
        (Optional) Date to start receiving emailed forecasts:
        {{input type="text" name="start-date" id="start-date" value=this.start}}
      </label>
    </div>
    <div class="large-6 cell">
      <label>
        (Optional) Date to stop receiving emailed forecasts:
        {{input type="text" name="end-date" id="end-date" value=this.end}}
      </label>
    </div>
  </div>

  <div class="grid-x">
    <div class="cell">
      <input type="submit" value="Save" class="button">
      {{#if @secondaryButton}}
        {{component @secondaryButton}}
      {{/if}}
    </div>
  </div>
</form>
