<div class="grid-x">
  <div class="cell">
    <h1>Subscriptions</h1>
  </div>
</div>

<div class="grid-x">
  <div class="cell">
    <table>
      <thead>
        <tr>
          <th>Sent to</th>
          <th>Location</th>
          <th>Start</th>
          <th>End</th>
          <th>Units</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |subscription|}}
          <tr class="subscription">
            <td>
              {{subscription.email}}
            </td>
            <td>
              {{subscription.location}}
            </td>
            <td>
              {{subscription.start}}
            </td>
            <td>
              {{subscription.end}}
            </td>
            <td>
              {{subscription.units}}
            </td>
            <td>
              {{#link-to 'subscriptions.edit' subscription}}
                Edit
              {{/link-to}}
              {{!-- |
              <%= link_to 'Delete', subscription_path(subscription), method: 'delete' %> --}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="grid-x">
  <div class="cell">
    {{!-- <%= link_to 'Add new subscription', new_subscription_path %> --}}
  </div>
</div>
